<!DOCTYPE html>
<html>

<head>
  <title>Vote for What?</title>
  <link rel="icon" type="image/png" sizes="64x64" href="../img/liberty.png">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="../style2.css" />



  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</head>

<body>
  <div>
    <div class="jumbotron text-center jumbo">
      <img class="redirect" src="/img/liberty.png" alt="" />
      <h1>
        <span class="title1">Vote for</span>
        <span class="title2">What?</span>
      </h1>

      <p>Login or Signup:</p>
      < <a href=" /login" id="btn-size-one" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href=" /signup" id="btn-size-one" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>
    <div class="filter-inputs">
    </div>
  </div>


  <!-- What is vfw -->
  <section id="indexTest" class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5 marginBottom">So what the heck is Vote for What...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://img.icons8.com/dusk/64/000000/search.png" alt="">
            <h5 class="indexH5">Easy to Search</h5>
            <p class="font-weight-light mb-0"> Vote for What allows users to easily search for ballot initiatives based
              on location and keywords, and set up notifications on future ballots matching their search.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://img.icons8.com/dusk/64/000000/mental-state.png"
              alt="">
            <h5 class="indexH5">Quick to Understand</h5>
            <p class="font-weight-light mb-0">Each ballot will contain a summary telling you what it means when you
              vote yes or no in plain english. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://img.icons8.com/dusk/64/000000/idea.png" alt="">
            <h5 class="indexH5">Stay Informed</h5>
            <p class="font-weight-light mb-0"> Setting notifications on a search means you will never have to spend
              hours googling what to vote on to make a difference in the issues you care about.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light footOne">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; Vote for What 2020. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>